<VirtualHost *:80>
  ServerAdmin webmaster@localhost
  DocumentRoot {{ webserver.siteroot.vmpath }}

  <Directory {{ webserver.siteroot.vmpath }}>
    Require all granted
  </Directory>

  ErrorLog {{ webserver.logroot }}/error.log
  CustomLog {{ webserver.logroot }}/access.log combined
</VirtualHost>
