<VirtualHost *:80>
  ServerAdmin webmaster@localhost
  DocumentRoot {{ siteroot.vmpath }}

  <Directory {{ siteroot.vmpath }}>
    Require all granted
  </Directory>

  ErrorLog /var/log/sitelogs/error.log
  CustomLog /var/log/sitelogs/access.log combined
</VirtualHost>
