<?php
/**
 *
 * @package    mahara
 * @subpackage core
 * @author     Catalyst IT Ltd
 * @license    http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later
 * @copyright  For copyright information on Mahara, please see the README file distributed with this software.
 *
 */

$cfg = new stdClass();
{% if database.type == 'pgsql' %}
$cfg->dbtype   = 'postgres';
{% else %}
$cfg->dbtype   = '{{ database.type }}';
{% endif %}
$cfg->dbhost   = 'localhost';
$cfg->dbport   = null;
$cfg->dbname   = '{{ database.name }}';
$cfg->dbuser   = '{{ database.owner }}';
$cfg->dbpass   = '{{ database.password }}';
$cfg->dataroot = '{{ webserver.sitedata.vmpath }}';
$cfg->productionmode = false;

$cfg->wwwroot = 'http://{{ remoteip }}';